<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Đặt lịch khám bệnh</title>
        <script>
            let senderId = "<%= senderId %>";
        </script>

        <!-- Latest compiled and minified CSS -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!-- Load custom Javascript and CSS-->
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/booking.js"></script>

        <style>
            #success {
                color: rgb(26, 221, 71);
            }

            .hidden {
                display: none;
            }
        </style>
    </head>
    <body>
        <div class="container fix-height">
            <div id="patientInfo">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center mt-3">
                            <span class="title">Thông tin khách hàng</span>
                        </div>
                        <input type="text" id="psid" hidden />
                        <div class="form-group">
                            <label for="patientName">Họ và tên:</label>
                            <input
                                type="text"
                                id="patientName"
                                class="form-control"
                                placeholder="Họ và tên..."
                            />
                        </div>
                        <div class="form-group">
                            <label for="email"
                                >Địa chỉ email (<span style="color: red">*</span
                                >):</label
                            >
                            <input
                                type="email"
                                id="email"
                                class="form-control"
                                placeholder="Địa chỉ email..."
                            />
                            <div class="invalid-feedback">
                                Địa chỉ email không hợp lệ.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber"
                                >Số điện thoại (<span style="color: red">*</span
                                >):</label
                            >
                            <input
                                type="text"
                                id="phoneNumber"
                                class="form-control"
                                placeholder="Số điện thoại..."
                            />
                            <div class="invalid-feedback">
                                Số điện thoại không hợp lệ.
                            </div>
                        </div>
                        <button class="btn btn-primary" id="btnBooking">
                            ĐẶT LỊCH KHÁM BỆNH
                        </button>
                    </div>
                </div>
            </div>
            <div class="mt-3 hidden" id="success">
                <h1>
                    Thông tin của bạn đã được ghi nhận thành công! Vui lòng đóng
                    popup này.
                </h1>
            </div>
        </div>
        <footer class="page-footer font-small blue">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                © 2020 Copyright:
                <a
                    href="https://www.facebook.com/profile.php?id=100013610988607"
                    target="_blank"
                >
                    Nguyễn Viết Nam</a
                >
            </div>
            <!-- Copyright -->
        </footer>
    </body>
</html>
